<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
 
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
 
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <link rel="icon" href="images/kanban.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css">
  <title>Kanban-Do - your board, your way.</title>
  
</head>
 
<body>
  <div class="wrapper"> 
    <nav id="sidebar">
        <div class="sidebar-header">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li> <a id="" href="/perfil">Meu perfil</a></li>
            <li>
                <div class="sidebar-header">
                    <h4>Meus quadros</h4>   
                </div>
            </li>
            <%let list = boards[0];%>
            <% for(let i = 0; i < list.length; i++) {%>
                <li><a id="<%= list[i].ID%>" href="/index?ID=<%= list[i].ID %>"><%= list[i].name %></a></li>
            <% } %>
        </ul>
        <div class="sidebar-header">
            <button type="button" id="newBoard" class="btn btn-info" data-toggle="modal" data-target="#modalAddBoard">Criar quadro
            </button>
        </div>
    </nav>
    <div id="content">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
               <button type="button" id="sidebarCollapse" class="btn btn-info" style="width: 100px;">
               <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
               </button>
               <div style="float: right;">
                  <a class="navbar-brand" href="index.php" style="color: #6d7fcc">Kanban-Do</a>
               </div>
            </div>
         </nav>
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-xs-12 header_coluna">
                  <%let name = board[0];%>
                  <h1><%= name[0].name%></h1>
               </div>
               <div class="col-md-3 col-xs-12 header_coluna">
                  <div class="titulo_coluna">
                     <h1><%= name[0].first_column%></h1>
                     <button type="button" class="btn btn-default btn-lg addButton" data-toggle="modal" data-target="#modalAddCard1">
                     <a>+</a>
                     </button>
                  </div>
                  <div class="corpo_coluna" style="border: 2px solid rgb(255, 109, 85); background-color: rgb(255, 109, 85);">
                     <ul id="lista1">   
                      <%let col_1 = column1[0];%>
                      <% for(let i = 0; i < col_1.length; i++) {%>
                          <li id="<%= col_1[i].ID%>"><a href="#"><h2> <%= col_1[i].title%> </h2><p><%= col_1[i].description%> </p></a></li>
                      <% } %>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 header_coluna">
                  <div class="titulo_coluna">
                     <h1><%= name[0].second_column%></h1>
                     <button type="button" class="btn btn-default btn-lg addButton" data-toggle="modal" data-target="#modalAddCard2">
                     <a>+</a>
                     </button>
                  </div>
                  <div class="corpo_coluna" style="border: 2px solid rgb(0, 193, 236); background-color: rgb(0, 193, 236);">
                     <ul id="lista2">
                      <%let col_2 = column2[0];%>
                      <% for(let i = 0; i < col_2.length; i++) {%>
                          <li id="<%= col_2[i].ID%>"><a href="#"><h2> <%= col_2[i].title%> </h2><p><%= col_2[i].description%> </p></a></li>
                      <% } %>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 header_coluna">
                  <div class="titulo_coluna">
                     <h1><%= name[0].third_column%></h1>
                     <button type="button" class="btn btn-default btn-lg addButton" data-toggle="modal" data-target="#modalAddCard3">
                     <a>+</a>
                     </button>
                  </div>
                  <div class="corpo_coluna" style="border: 2px solid rgb(0, 222, 62); background-color: rgb(0, 222, 62);">
                      <ul id="lista3">
                      <%let col_3 = column3[0];%>
                        <% for(let i = 0; i < col_3.length; i++) {%>
                          <li id="<%= col_1[i].ID%>"><a href="#"><h2> <%= col_3[i].title%> </h2><p><%= col_3[i].description%> </p></a></li>
                        <% } %>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

  <!-- ADD NEW BOARD MODAL -->

  <div class="modal fade newCards" id="modalAddBoard" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Criar quadro</h3>
                    <span class="close" data-dismiss="modal">&times;</span>    
                </div>
                <div class="modal-body">
                        <form class="form-horizontal" action="index/salvarBoard" method="POST">    
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="name">Título:</label>
                                <div class="col-xs-12">
                                    <input name="name" id="name" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="first_column">Primeira coluna:</label>
                                <div class="col-xs-12">
                                    <input name="first_column" id="first_column" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="second_column">Segunda coluna:</label>
                                <div class="col-xs-12">
                                    <input name="second_column" id="second_column" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="third_column">Terceira coluna:</label>
                                <div class="col-xs-12">
                                    <input name="third_column" id="third_column" class="form-control" type="text">
                                </div>
                            </div>
                            <input type="submit" name="add1" id='add1' value="Criar!" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>              
        </div>
    </div>

    <!-- ADD MODAL - FIRST COLUMN -->

 <div class="modal fade newCards" id="modalAddCard1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                    <span class="close" onclick='closeModal("modalAddCard1");'>&times;</span>
                    <h3 class="modal-title">Novo card</h3>
                </div>
                <div class="modal-body">
                        <form class="form-horizontal" id="target1" method='POST' action='/index/storeCard1'>
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="title1">Titulo:</label>
                                <div class="col-xs-12">
                                    <input name="title1" id="title1" class="form-control" type="text">
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="col-form-label col-md-12" for="content1">Conteúdo:</label>
                                <div class="col-sm-5">
                                    <textarea class="form-control col-md-6 col-xs-12" id="content1" name='content1'></textarea>
                                </div>
                            </div>
                            <input type="submit" name="add1" id='add1' value="Adicionar" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" onclick='closeModal("modalAddCard1");'>Cancelar</button>
                        </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>              
        </div>
    </div>

<!-- ADD MODAL - SECOND COLUMN  -->
    <div class="modal fade newCards" id="modalAddCard2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                    <span class="close" onclick='closeModal("modalAddCard2");'>&times;</span>
                    <h3 class="modal-title">Novo card</h3>
                </div>
                <div class="modal-body">
                        <form class="form-horizontal" method='POST' action='/index/storeCard2'>
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="title2">Titulo:</label>
                                <div class="col-xs-12">
                                    <input name="title2" id="title2" class="form-control" type="text">
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="col-form-label col-md-12" for="content2">Conteúdo:</label>
                                <div class="col-sm-5">
                                    <textarea class="form-control col-md-6 col-xs-12" id="content2" name='content2'></textarea>
                                </div>
                            </div>
                            <input type="submit" name="add2" id='add1' value="Adicionar" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" onclick='closeModal("modalAddCard2");'>Cancelar</button>
                        </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>              
        </div>
    </div>

<!-- ADD MODAL - THIRD COLUMN -->

 <div class="modal fade newCards" id="modalAddCard3" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                    <span class="close" onclick='closeModal("modalAddCard3");'>&times;</span>
                    <h3 class="modal-title">Novo card</h3>
                </div>
                <div class="modal-body">
                        <form class="form-horizontal" method='POST' action='/index/storeCard3'>
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="title3">Titulo:</label>
                                <div class="col-xs-12">
                                    <input name="title3" id="title3" class="form-control" type="text">
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="col-form-label col-md-12" for="content3">Conteúdo:</label>
                                <div class="col-sm-5">
                                    <textarea class="form-control col-md-6 col-xs-12" id="content3" name='content3'></textarea>
                                </div>
                            </div>
                            <input type="submit" name="add3" id='add3' value="Adicionar" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" onclick='closeModal("modalAddCard3");'>Cancelar</button>
                        </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>              
        </div>
    </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/script.js"></script>
</body>
</html>