<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kanban-do - Your board, your way.</title>

    <!-- Bootstrap CSS CDN -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
        <section>
                <% if(erros.length > 0) { %>
                <section class="alert alert-danger">
                    <p>Atenção!</p>
                    <ul>
                        <% for(let i = 0; i < erros.length; i++){ %>
                        <li>
                            <%= erros[i].msg %>
                        </li>
                        <% } %>
                    </ul>
                </section>
                <% } %>
        </section>
    <div class="wrapper">
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light list-inline">
                <div class="container-fluid">
                    <div style="float: left;">
                        <a class="navbar-brand" href="#" style="color: #6d7fcc">Kanban-do</a>
                    </div>
                    <div style="float: right; padding-top: 8px;">
                        <label style="padding-right: 10px;" for="sidebarCollapse">Já sou cadastrado </label>
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="width: 100px;"" data-toggle="modal" data-target="#login_modal">Login</button>
                    </div>
                </div>
            </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12" id="img_div">
                    <h2 class="h2">Kanban-do</h2>
                    <img src="/images/kanban.png"" class="img-responsive center-block" alt="kanban board">
                    <p class="lead">Kanban-do é sua mais nova ferramenta para organização pessoal e profissional. "Your board, your way!"; aqui você terá controle de tudo que você colocar em seu board.</p>
                </div>
                <div class="col-md-6 col-xs-12" id="cadastro_div">
                    
                    <h1>Abrir uma conta</h1>
                    <div>
                        <form action="/usuario/salvar" method="POST" id="form_cadastro">
                            <div class="form-group">
                                <label for="userName">Nome de usuário</label>
                                <input type="text" name="nome" id="userName" class="form-control" placeholder="Usuário" value="<%= usuario.nome %>">
                            </div>
                            <div class="form-group">
                                <label for="newUserEmail">Email</label>
                                <input type="email" class="form-control" name="username" id="newUserEmail" placeholder="Digite seu email" value="<%= usuario.username %>">
                            </div>
                            <div class="form-group">
                                <label for="newUserPsw1">Senha</label>
                                <div class="inlineinput">
                                    <input type="password" name="password" id="newUserPsw1" class="form-control" placeholder="Digite sua senha" value="<%= usuario.password %>">
                                    <input type="password" name="confirmPassword" id="newUserPsw2" class="form-control" placeholder="Confirmar senha" style="width: 45%;" value="<%= usuario.password %>">
                                </div>
                            </div>
                            <input type="submit" name="submit_cadastro" id="cadastrar_btn" value="Cadastrar" class="btn btn-info cadastrarBtn"> 
                            <small class="form-text text-muted">Nós em hipótese alguma compartilharemos suas informações.</small>
                        </form> 
                    </div>
                    
                </div>                
            </div>
        </div>
        <footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Kanban-do</h5>
          <p>Kanban-do é um projeto realizado por Kaique Futemma e Matheus Castro. Trabalho dedicado a disciplina de desenvolvimento WEB dada pelo Instituto Federal de São Paulo - Campus Campinas pelos professores André Bordignon e Henrique.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Links úteis</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.cmp.ifsp.edu.br/">IFSP</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Social media</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.linkedin.com/in/kaiquefutemma/">Kaique Futemma</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/kaiquefutemma/">Matheus Castro</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#">Kaique Futemma</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Modal -->
    <div class="modal fade" id="login_modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                    <span class="close" data-dismiss="modal" style="color: red;">&times;</span>
                    <h3 class="modal-title">Já sou cadastrado</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/verificar.php" method="POST" id="form_login">
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="nome">Usuário:</label>
                                <div class="col-xs-12">
                                    <input name="user" id="userID" class="form-control" type="text">
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="nome">Senha:</label>
                                <div class="col-xs-12">
                                    <input name="psw" id="pswID" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" name="submit_login" value="Entrar" class="btn btn-info cadastrarBtn">
                            </div>
                        </form>
                </div>
            </div>              
        </div>
    </div>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/script.js"></script>
</body>
</html>